[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
behave = "*"
selenium = "*"
allure-behave = "==2.8.40"
behave-html-formatter = "*"

[dev-packages]

[requires]
python_version = "3.9"
